jax[cuda12]>=0.4.30
jaxlib>=0.4.30
flax>=0.8.5
optax>=0.2.2
orbax-checkpoint>=0.5.15
chex>=0.1.86
numpy>=1.24.1
dm_control
dm_env
hydra-core==1.2.0
hydra-submitit-launcher==1.1.5
pandas>=1.3.0
matplotlib
tensorboard
pytest
